@import "tailwindcss";

@theme {
  --color-emerald-50: #f5f7f4;
  --color-emerald-100: #e8eee4;
  --color-emerald-200: #d3dfcc;
  --color-emerald-300: #b1c6a7;
  --color-emerald-400: #8aa97b;
  --color-emerald-500: #557a46;
  --color-emerald-600: #426136;
  --color-emerald-700: #354d2a;
  --color-emerald-800: #2c3e23;
  --color-emerald-900: #26351f;
  --color-emerald-950: #141c10;

  --color-slate-50: #FAF8F5;
  --color-slate-100: #F4EFE6;
  --color-slate-200: #E7DECF;
  --color-slate-300: #D7CBBA;
  --color-slate-400: #BCA993;
  --color-slate-500: #9E8771;
  --color-slate-600: #7E6753;
  --color-slate-700: #5F4C3B;
  --color-slate-800: #403024;
  --color-slate-900: #2A1C14;
  --color-slate-950: #170E0A;
}

@layer base {
  html {
    font-size: 110%; /* Increase base font size for better visibility */
  }
}

